_site/
_site-preview/
.vscode/
.typ-blog-cache/
/.tmp-*/
assets/fonts/
assets/fonts.css
node_modules/
posts/_hidden/
posts/_draft/
posts/_drafts/

# macOS junk files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
