/*
  Block-level callouts and quote blocks.
*/
/* BLOCKS */

article .quote-block {
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-left: 3px solid var(--border-subtle0);
}

article .quote-block > *:first-child {
  margin-top: 0 !important;
}

article .quote-block > *:last-child {
  margin-bottom: 0 !important;
}

article .note-block,
article .success-block,
article .warning-block,
article .error-block {
  margin: 1rem 0 0 0;
  padding: 1rem;
}

article .note-block {
  background-color: var(--notification-background-info);
  border-left: 3px solid var(--info);
}

article .success-block {
  background-color: var(--notification-background-success);
  border-left: 3px solid var(--success);
}

article .warning-block {
  background-color: var(--notification-background-warning);
  border-left: 3px solid var(--warning);
}

article .error-block {
  background-color: var(--notification-background-error);
  border-left: 3px solid var(--error);
}

article .note-block > .block-title,
article .success-block > .block-title,
article .warning-block > .block-title,
article .error-block > .block-title {
  position: relative;
  font-weight: 600;
  padding-left: 2em;
  margin-bottom: 1em;
  line-height: 1.25;
}

article .note-block > .block-title::before,
article .success-block > .block-title::before,
article .warning-block > .block-title::before,
article .error-block > .block-title::before {
  content: "";
  position: absolute;
  left: 0.125em;
  width: 1.25em;
  height: 1.25em;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block;
}

article .note-block > .block-title::before {
  background-color: var(--info);
  mask-image: url("/assets/icons/information--filled.svg");
}

article .success-block > .block-title::before {
  background-color: var(--success);
  mask-image: url("/assets/icons/checkmark--filled.svg");
}

article .warning-block > .block-title::before {
  background-color: var(--warning);
  mask-image: url("/assets/icons/warning--filled.svg");
  z-index: 1;
}

article .warning-block > .block-title::after {
  content: "";
  z-index: 0;
  position: absolute;
  left: calc(0.125em + (1.25em - 1em) / 2);
  top: calc((1.25em - 1em) / 2);
  width: 1em;
  height: 1em;
  background-color: #000;
  border-radius: 50%;
}

article .error-block > .block-title::before {
  background-color: var(--error);
  mask-image: url("/assets/icons/error--filled.svg");
}

article .note-block > *:last-child,
article .success-block > *:last-child,
article .warning-block > *:last-child,
article .error-block > *:last-child {
  margin-bottom: 0 !important;
}

